nav.navbar, .navbar-brand {
	font-size: 1.2em;
}

.about-us-img {
	width: 200px;
	height: 200px;
	margin: 20px auto;
}

.card-text {
	text-align: justify;
}

#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) { 
	.about-us-img {
		width: 270px;
		height: 270px;
}

/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) { 
	.about-us {
		flex-wrap: nowrap;
	}

	.about-us-img {
		margin: 20px 20px 20px auto;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}